name: PR Check

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - '**'
  workflow_dispatch:

jobs:
  rust-pr-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout runner_tools
        uses: actions/checkout@v4
        with:
          repository: StarCitizenToolBox/runner_tools
          path: runner_tools
          ref: v1.0.0
        
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
      
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "runner_tools/localization"
          cache-all-crates: true
          prefix-key: "rs_cache"
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          shared-key: "share"

      - name: PR Check
        env:
          GH_REPO: ${{ github.repository }}
          GH_PR_NUMBER: ${{ github.event.pull_request.id }}
          GH_PR_TITLE: ${{ github.event.pull_request.title }}
        run: cargo run --release --manifest-path ./runner_tools/localization/Cargo.toml -- -m pr_check